body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
}

nav {
    color: white;
    font-size: 1.3em;
}

a {
    color: inherit;
}

.header {
    background: url(https://res.cloudinary.com/mayerxc/image/upload/e_grayscale/v1508181408/oliver-thomas-klein-161835_ccz0mo.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: auto;

}

.card {
    margin: 25px auto;
}

.howTo {
    background-color: white;
    height: 200px;
}
